<a href="https://colab.research.google.com/github/jhbeann/fast_deep/blob/main/1_1_%EB%B0%98%EB%B3%B5%EC%A1%B0%EA%B1%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Condition

In [ ]:
name = input('What is your name :')

In [ ]:
if name == 'bird':
  print("I could fly to you")
else:
    print("I could walk to you")

In [ ]:
if name == 'bird':
    print("I could fly to you")
elif name == 'pig':
    print("I could walk to you")
else:
    print("I could stay to you")

# 2. Loop

In [ ]:
num = int(input('Multiplication table of: '))

In [ ]:
for i in range(1,10):
  print(num, 'x', i, '=', num*i)

In [ ]:
for i in range(2,10):
  for j in range(1,10):
    print("%2d X %2d = %2d" %(i,j,i*j))
  print("------------------")

# %2d : 두 자리 수

In [ ]:
num = int(input('Multiplication tabel of :'))
i = 1
while i < 10:
  print(num,'X',i,'=',num*i)
  i += 1

In [ ]:
i=2
while i < 10:
  j = 1
  while j < 10:
    print(i,'x',j,'=',i*j)
    j+=1

  print('---------------')
  i+=1

In [ ]:
stationfares = [
            {"station": "청량리", "fare": 1500},
            {"station": "성북", "fare": 1800},
            {"station": "의정부", "fare": 2000},
            {"station": "소요산", "fare": 2500}
        ]

In [ ]:
stations =[]
fares = []
for stationfare in stationfares:
  stations.append(stationfare["station"])
  fares.append(stationfare["fare"])
print(stations)
print(fares)

['청량리', '성북', '의정부', '소요산']
[1500, 1800, 2000, 2500]